<p id="notice"><%= notice %></p>

<p>
  <strong>Drink</strong>
  <%= @drink.business %>
</p>

<p>
  <strong>Website:</strong>
  <%= @drink.website %>
</p>



<%= form_tag drink_path(@drink.id), method: "delete" do %>
  <%= submit_tag "Delete #{@drink.business}" %>
<% end %>

<%= link_to 'Edit', edit_drink_path(@drink) %> •
<%= link_to 'Back', drinks_path %> •
<%= link_to "Catalog", catalog_path  %>

