<%= form_for @food do |f| %>

<%= f.label :business %>
<%= f.text_field :business %>
<%= f.label :website %>
<%= f.text_area :website %>

  <%= f.fields_for :items do |items| %>
  <%= f.label :Item %>
    <%= items.text_field :item_1 %>
  <% end %>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
