<p id="notice"><%= notice %></p>

<p>
  <strong>Food</strong>
  <%= @food.business %>
</p>

<p>
  <strong>Website:</strong>
  <%= @food.website %>
</p>

<p>
  <strong>Item:</strong>
  <ul>
    <% @food.items.each do |item| %>
      <li> <%= item.item_1 %>
    <% end %>
  </ul>

</p>

<%= form_tag food_path(@food.id), method: "delete" do %>
  <%= submit_tag "Delete #{@food.business}" %>
<% end %>

<%= link_to 'Edit', edit_food_path(@food) %> •
<%= link_to 'Back', foods_path %> •
<%= link_to "Catalog", catalog_path  %>
