<p id="notice"><%= notice %></p>

<p>
  <strong>Dessert</strong>
  <%= @dessert.business %>
</p>

<p>
  <strong>Website:</strong>
  <%= @dessert.website %>
</p>



<%= form_tag dessert_path(@dessert.id), method: "delete" do %>
  <%= submit_tag "Delete #{@dessert.business}" %>
<% end %>

<%= link_to 'Edit', edit_dessert_path(@dessert) %> •
<%= link_to 'Back', desserts_path %> •
<%= link_to "Catalog", catalog_path  %>

